* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.app {
	text-align: center;
	background: linear-gradient(#24272e, #444c5a);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	color: white;
}
.accordion-header {
	display: flex;
	padding: 10px;
	justify-content: space-between;
	border-bottom: 1px solid #535a68;
}
.accordion-header:hover {
	cursor: pointer;
}
.accordion-body {
	border-bottom: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-width: 20vw;
	min-height: 10vh;
}

.btn-left {
	background-image: url('./PNG/minus.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	height: 85px;
	width: 85px;
}

.btn-rigth {
	background-image: url('./PNG/plus.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	height: 85px;
	width: 85px;
}
.btn-play {
	background-image: url('./PNG/back-arrow.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	height: 55px;
	width: 55px;
}
.btn-off {
	background-image: url('./PNG/switch.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	height: 55px;
	width: 55px;
}
.radio-image {
	background-image: url('./PNG/radio-wave.png');
	background-position: 50% 50%;
	padding: 2px;
	margin: 2px;
	height: 80px;
	width: 80px;
	border: 1px solid #eeba0f;
	background-repeat: no-repeat;
	border: none;
}
.accordion {
	background-color: #444b57;
}

.main {
	margin: 0 auto;
	padding: 10px;
	background-color: #eeba0f;
	min-width: 20vw;
	min-height: 10vh;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	justify-content: space-between;
	display: flex;
	font-size: 16px;
}
.main-bottom {
	background-color: #24262c;
	color: sandybrown;
	font-size: 12px;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
	min-width: 20vw;
	min-height: 10vh;
	padding: 10px;
	margin: 0 auto;
	text-transform: uppercase;
}
.list {
	min-width: 20vw;
	min-height: 10vh;
}
